main {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;

	background-color: #1B1C1D;
	box-sizing: border-box;
	overflow: hidden;
}

* {
	margin: 0;
	color: white;
}

h1 {
	font-family: Avenir;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}